{% extends "default_layout/base.html" %}
{% spaceless %} 
{% load static %}
{% block head %}
    {{ block.super }}
    <style type="text/css">
        body { padding-top: 80px; }
    </style>
{% endblock %}
{% block title %} Meus Anúncios {% endblock %}
{% block body %}     
   {% load humanize %}  
   {{ block.super }} 
   <section>
       <div class="container">     
           <div class="row">               
                 <div class="col-3 d-flex justify-content-center">
                     <a href="{% url 'account:home' %}">
                        <img src="{% static 'img/motando_logo-402x150.png' %}" class="img-fluid" alt="Motando" 
                             style="width: 220px;">
                        </a>
                 </div>
                 <div class="col-9 d-flex justify-content-center">            
                     {% include "messages.html" %}      
                 </div>               
           </div>           
           <div class="row">
                 <div class="col-3">
                     {% include "account_layout/left_menu.html" with user_profile=user_profile %}  
                 </div>
                 <div class="col-9">
                     <br>
                     <div class="shadow rounded bg-white border p-3">
                        <div class="row">
                            <div class="col">
                                <h2 class="h4 fw-bold"> Meus Anúncios </h2>                                 
                            </div>
                        </div>              
                        {% if classifiedad_page|length > 0 %}
                            <div class="row pt-2">
                                <div class="col">
                                    <p class="font-monospace"> 
                                        &nbsp;&nbsp;&nbsp;&bull;&nbsp;Aúncio(s) publicado(s)...:&nbsp;<span id="id_total_published" class="text-success"> {{ total_published }} </span>
                                        <br>                             
                                        &nbsp;&nbsp;&nbsp;&bull;&nbsp;Aúncio(s) em publicação..:&nbsp;<span id="id_total_not_published" class="text-info"> {{ total_not_published }} </span>
                                        <br>                             
                                        &nbsp;&nbsp;&nbsp;&bull;&nbsp;Total de anúncio(s)......:&nbsp;<span id="id_total" class="text-dark"> {{ total_published|add:total_not_published }} </span>
                                    </p>
                                </div>
                            </div>  
                            {% for classifiedad in classifiedad_page %}
                                <div class="card mb-3">
                                    <div class="row g-0">
                                        <div class="col-md-4">        
                                            <div id="id_image_carousel_{{ forloop.counter }}" class="carousel slide my-classifiedad-carousel"
                                                 data-bs-touch="false" data-bs-interval="false">                                                                                                
                                                <div class="carousel-inner">                                                    
                                                    {% for classifiedad_image in classifiedad.images.all %}
                                                        {% if forloop.first %}
                                                            <div class="carousel-item active">
                                                        {% else %}
                                                            <div class="carousel-item">
                                                        {% endif %}
                                                                {% if classifiedad.status == 'PUBLISHED' %}
                                                                    <a href="{% url 'classifiedad:detail' brand=classifiedad.model.brand.brand|slugify|lower model=classifiedad.model.model|slugify|lower model_year=classifiedad.model_year classifiedad_id=classifiedad.id %}" 
                                                                       target="_blank" class="d-flex align-items-center justify-content-center">
                                                                            <img src="{{ classifiedad_image.url }}" class="img-fluid rounded pt-4 p-2" 
                                                                                 alt="{{ classifiedad.model.brand.brand }} - {{ classifiedad.model.model }} | {{ forloop.counter }}">
                                                                    </a>            
                                                                {% else %}
                                                                    <img src="{{ classifiedad_image.url }}" class="img-fluid rounded pt-4 p-2" 
                                                                         alt="{{ classifiedad.model.brand.brand }} - {{ classifiedad.model.model }} | {{ forloop.counter }}">
                                                                {% endif %}
                                                            </div>                                                                                                                                 
                                                    {% endfor %}                                                                                         
                                                </div>
                                                <button class="carousel-control-prev" type="button" data-bs-target="#id_image_carousel_{{ forloop.counter }}" 
                                                        data-bs-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Anterior</span>
                                                </button>
                                                <button class="carousel-control-next" type="button" data-bs-target="#id_image_carousel_{{ forloop.counter }}" 
                                                        data-bs-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Próximo</span>
                                                </button>
                                            </div>                                                                                                        
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                {% if classifiedad.status == 'PUBLISHED' %}
                                                    <a href="{% url 'classifiedad:detail' brand=classifiedad.model.brand.brand|slugify|lower model=classifiedad.model.model|slugify|lower model_year=classifiedad.model_year classifiedad_id=classifiedad.id %}" target="_blank" class="text-decoration-none">
                                                        <h5 class="card-title text-uppercase h4"> 
                                                            {{ classifiedad.model.brand.brand }} - {{ classifiedad.model.model }} 
                                                        </h5>
                                                    </a>
                                                {% else %}
                                                    <h5 class="card-title text-uppercase h4"> 
                                                        {{ classifiedad.model.brand.brand }} - {{ classifiedad.model.model }} 
                                                    </h5>
                                                {% endif %}
                                                <p class="card-text pt-3">
                                                    <span> <i class="fas fa-tachometer-alt"></i> &nbsp; {{ classifiedad.mileage|intcomma }} Km </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <span class="text-capitalize"> <i class="fas fa-fill-drip"></i>&nbsp; {{ classifiedad.color|title }} </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <span> <i class="far fa-calendar-alt"></i> &nbsp; {{ classifiedad.fabrication_year }}/{{ classifiedad.model_year }} </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                                  
                                                </p>
                                                <p class="card-text"> <span class="text-success h5 fw-bold"> R$ {{ classifiedad.price|intcomma }} </span>
                                                {% if classifiedad.status == 'PUBLISHED' %} 
                                                    <div class="row pt-2 pb-4">
                                                        <div class="col-4 d-grid gap-2">
                                                            <a class="btn btn-outline-success" href="#">
                                                                Destacar Anúncio
                                                            </a> 
                                                        </div>
                                                        <div class="col-2 d-grid gap-2">
                                                            <a class="btn btn-outline-info" 
                                                            href="{% url 'classifiedad:edit' classifiedad_id=classifiedad.id %}">
                                                            Editar
                                                            </a> 
                                                        </div>
                                                        <div class="col-2 d-grid gap-2">
                                                            <form method="post" action="{% url 'classifiedad:delete' %}" 
                                                                onsubmit="return confirm('Deseja realmente excluír este anúncio?');">   
                                                                {% csrf_token %}
                                                                <input type="hidden" id="id_classifiedad_id" name="classifiedad_id" value="{{ classifiedad.id }}">                                    
                                                                <button type="submit" class="btn btn-outline-danger">
                                                                    Excluir
                                                                </button>                                                                                                                       
                                                            </form>
                                                        </div>
                                                    </div>                         
                                                {% endif %}
                                                <div class="row">
                                                    <div class="col">
                                                        Status: {% if classifiedad.status == 'PUBLISHED' %} 
                                                                    <span class="text-capitalize text-primary"> Publicado </span>
                                                                {% else %} 
                                                                    <span class="text-capitalize text-secondary fst-italic"> Aguardando Publicação </span>
                                                                {% endif %}                                                           
                                                    </div>
                                                </div>
                                                <div class="row pt-2">
                                                    <div class="col">
                                                        Última modificação: <span class="fw-normal text-secondary fst-italic"> {{ classifiedad.updated }} </span>
                                                    </div>
                                                </div>
                                                {% if classifiedad.status == 'PUBLISHED' %}                             
                                                        <div class="row pt-3">                                                      
                                                            <div class="col">
                                                                Compartilhar: &nbsp;
                                                                    <a href="#" class="text-decoration-none">
                                                                        <img src="{% static '/img/whatapp-icon.png' %}" 
                                                                            class="img-fluid" width="5%">
                                                                    </a> 
                                                                    &nbsp;
                                                                    <a href="#" class="text-decoration-none">
                                                                        <img src="{% static '/img/facebook-icon.png' %}" 
                                                                            class="img-fluid" width="5%">
                                                                    </a> 
                                                                    &nbsp;
                                                                    <a href="#" class="text-decoration-none">
                                                                        <img src="{% static '/img/twiter-icon.png' %}" 
                                                                            class="img-fluid" width="5%">
                                                                    </a>
                                                                    &nbsp;
                                                                    <a href="#" class="text-decoration-none">
                                                                        <img src="{% static '/img/linkedin-icon.png' %}" 
                                                                            class="img-fluid" width="5%">
                                                                    </a>
                                                            </div>
                                                        </div>  
                                                {% endif %}                                
                                            </div>
                                        </div>
                                    </div>                                
                                </div>                                  
                                <br>
                            {% endfor %}
                            {% if classifiedad_page.has_other_pages %}
                                <div class="row">
                                    <div class="col d-flex justify-content-center">
                                        <nav aria-label="Anúncio Navegação" style="background: white; border: 0;">
                                            <ul class="pagination justify-content-center">                                            
                                                {% if classifiedad_page.has_previous %}
                                                    <li class="page-item">
                                                        <a class="page-link" href="?p={{ classifiedad_page.previous_page_number }}">Anterior</a>
                                                    </li>
                                                {% endif %}                                                
                                                {% for page_number in classifiedad_page.paginator.page_range %}
                                                    {% if classifiedad_page.number  == page_number %}
                                                        <li class="page-item active" aria-current="page">
                                                            <span class="page-link"> {{ page_number }} </span>
                                                        </li>                                                        
                                                    {% else %}
                                                        <li class="page-item">
                                                            <a class="page-link" href="?p={{ page_number }}"> {{ page_number }} </a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}                                                
                                                {% if classifiedad_page.has_next %}
                                                    <li class="page-item">
                                                        <a class="page-link" href="?p={{ classifiedad_page.next_page_number }}">Próximo</a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %} 
                            <div class="row pt-4 pb-4">
                                <div class="col d-flex justify-content-center">                            
                                    <h2 class="text-dark">Você ainda não cadastrou nenhum Anúncio!</h2>
                                </div>
                            </div>                        
                        {% endif %}
                    </div> <!-- right panel //--> 
                 </div> <!-- col-9 //-->
           </div>
   </section>
   <br><br>      
{% endblock %}
{% block body_scripts %}      
   <script type="text/javascript" src="{% static 'vendor/jquery.maskMoney.min.js' %}"></script>             
{% endblock %}
{% endspaceless %}