<!doctype html>{% spaceless %}
<html lang="pt-br">
<head>    
    {% load static %}
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <link href="{% static 'vendor/bootstrap-5.2.2/css/bootstrap.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'vendor/fontawesome6/css/all.min.css' %}" rel="stylesheet">    
        <link rel="stylesheet" href="{% static 'css/default.css' %}">
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
        <meta name="robots" content="index,follow">
        <title>{% block title %}{% endblock %} | Motando</title>
    {% endblock %}        
</head>
<body> 
    {% block body %}
        {% include "navbar.html" %}   
    {% endblock %}  
    {% include "footer.html" %}
    <script src="{% static 'vendor/bootstrap-5.2.2/js/bootstrap.bundle.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/jquery-3.6.0.min.js' %}"></script>
    {% block body_scripts %}
    {% endblock %}     
</body>
</html>{% endspaceless %}