{% extends "default_layout/base.html" %}
{% spaceless %}
{% load static %}
{% block title %} E-mail Confirmação {% endblock %}
{% block body %}
    {{ block.super }}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 d-flex justify-content-center">
                    <a href="{% url 'home:main_page' %}">
                       <img src="{% static 'img/motando_logo-402x150.png' %}" class="img-fluid" alt="Motando" 
                            style="width: 300px;">
                    </a>
                </div>      
            </div>   
        </div>                
    </section>
    <br><br>
    <section>
        <div class="container">           
            <div class="row">
                <div class="col-md-1 col-sm-1"></div>
                <div class="col-md-10 col-sm-10">                        
                    <div class="shadow rounded bg-white border p-3">
                        <p class="text-center h3 pt-2 pb-2 lh-base">                            
                            Cadastro realizado com sucesso! <br>
                            Em breve você receberá um <b>e-mail</b> para finalizar a ativação da sua nova conta.
                        </p>
                    </div>
                </div>
                <div class="col-md-1 col-sm-1"></div>
            </div>              
        </div>
    </section>
    <br><br><br><br>
{% endblock %}
{% endspaceless %}