{% extends "default_layout/base.html" %}
{% spaceless %}
{% load static %}
{% block title %} Cadastro Particular {% endblock %}
{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <a href="{% url 'home:main_page' %}">
                        <img src="{% static 'img/motando_logo-402x150.png' %}" class="img-fluid" alt="Motando" style="width: 300px;">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <br>
    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-center fw-bold fs-5">
                        Novo usuário no MOTANDO? <br>
                        Cadastre seu perfil. Falta pouco!
                    </p>
                </div>
            </div>            
            {% include "messages.html" %}            
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                        <div class="shadow rounded bg-white border p-3">
                            <form id="id_cadastro_particular_form" name="cadastro_particular_form" autocomplete="off" method="post" 
                                  action="{% url 'account:new_user' %}">                  
                                {% csrf_token %}
                                <div class="row pt-2 p-2">
                                    <div class="col">
                                        <label for="id_full_name" class="form-label my-text-purple">Nome: &nbsp;<span class="text-danger">*</span> </label>
                                        {{ user_form.fullname }}                                        
                                        {% for fullname_error in user_form.fullname.errors %}      
                                            <div class="text-danger pt-1"> &nbsp;&bull; {{ fullname_error }} </div>
                                        {% endfor %}
                                        <div class="invalid-feedback">
                                            É necessário informar o seu Nome completo.
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-2 p-2">
                                    <div class="col">
                                        <label for="id_email" class="form-label my-text-purple">E-mail: &nbsp;<span class="text-danger">*</span> </label>
                                        {{ user_form.email }}
                                        {% for email_error in user_form.email.errors %}
                                            <div class="text-danger pt-1"> &nbsp;&bull; {{ email_error }} </div>
                                        {% endfor %}
                                        <div class="invalid-feedback">
                                            É necessário informar um E-mail válido.
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-2 p-2">
                                    <div class="col">
                                        <label for="id_email_confirm" class="form-label my-text-purple">Confirme seu E-mail: &nbsp;<span class="text-danger">*</span> </label>
                                        {{ user_form.email_confirm }}
                                        {% for email_confirm_error in user_form.email_confirm.errors %}
                                            <div class="text-danger pt-1"> &nbsp;&bull; {{ email_confirm_error }} </div>
                                        {% endfor %}
                                        <div class="invalid-feedback">
                                            É necessário confirmar seu E-mail.
                                        </div>
                                    </div>
                                </div>     
                                <div class="row pt-2 p-2">
                                    <div class="col">
                                        <label for="id_brazil_state" class="form-label my-text-purple">Estado: &nbsp;<span class="text-danger">*</span> </label>
                                        {{ user_profile_form.state }}
                                        {% for state_error in user_profile_form.state.errors %}
                                            <div class="text-danger pt-1"> &nbsp;&bull; {{ state_error }} </div>
                                        {% endfor %}
                                        <div class="invalid-feedback">
                                            É necessário informar o seu Estado.
                                        </div>                                        
                                    </div>
                                </div>     
                                <div class="row pt-2 p-2">
                                    <div class="col">
                                        <label for="id_brazil_state_city" class="form-label my-text-purple">Cidade: &nbsp;<span class="text-danger">*</span> </label>
                                        {{ user_profile_form.city }}
                                        {% for city_error in user_profile_form.city.errors %}
                                            <div class="text-danger pt-1"> &nbsp;&bull; {{ city_error }} </div>
                                        {% endfor %}
                                        <div class="invalid-feedback">
                                            É necessário informar a sua Cidade.
                                        </div>                                        
                                    </div>
                                </div>     
                                <div class="row pt-2 p-2">
                                    <div class="col">
                                        <label for="id_telephone" class="form-label my-text-purple">Telefone: &nbsp;<span class="text-danger">*</span> </label>
                                        {{ user_profile_form.telephone }}
                                        {% for telephone_error in user_profile_form.telephone.errors %}
                                            <div class="text-danger pt-1"> &nbsp;&bull; {{ telephone_error }} </div>
                                        {% endfor %}
                                        <div class="invalid-feedback">
                                            É necessário informar o seu Telefone.
                                        </div>
                                    </div>
                                </div>                                
                                <div class="row pt-2 p-2">
                                    <div class="col">
                                        <label for="id_password" class="form-label my-text-purple">Senha: &nbsp;<span class="text-danger">*</span> </label>
                                        {{ user_form.password }}
                                        {% for password_error in user_form.password.errors %}
                                            <div class="text-danger pt-1"> &nbsp;&bull; {{ password_error }} </div>
                                        {% endfor %}
                                        <div class="invalid-feedback">
                                            É necessário informar uma Senha de no mínimo 8 caracteres.
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-2 p-2">
                                    <div class="col">
                                        <label for="id_senha_confirm" class="form-label my-text-purple">Confirme sua Senha: &nbsp;<span class="text-danger">*</span> </label>
                                        {{ user_form.password_confirm }}
                                        {% for password_confirm_error in user_form.password_confirm.errors %}
                                            <div class="text-danger pt-1"> &nbsp;&bull; {{ password_confirm_error }} </div>
                                        {% endfor %}
                                        <div class="invalid-feedback">
                                            É necessário confirmar sua Senha.
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-4 p-2">
                                    <div class="col">
                                        <div class="d-grid gap-2 mx-auto">
                                        <br>
                                           <input type="submit" class="btn btn-success fw-bold btn-lg p-2" id="id_submit" value="Cadastrar">
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-3 p-2">
                                    <div class="col">
                                        <p class="text-center text-secondary">
                                            Já possui cadastro? <a href="{% url 'account:login' %}" class="link-secondary text-underline-hover"> Faça o Login </a>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                </div>
                <div class="col-3"></div>
            </div>
            <!--
            <div class="modal fade" id="id_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                 aria-labelledby="id_static_backdrop_label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="id_static_backdrop_label">Mensagem</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                       <p class="fw-bold" id="id_modal_message"></p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    </div>
                  </div>
                </div>
            </div>
            //-->
        </div>
    </section>
    <br>
    <br>
{% endblock %}
{% block body_scripts %}    
    <script type="text/javascript" src="{% static 'vendor/jquery.blockUI.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/jquery.maskedinput.min.js' %}"></script>    
    <script type="text/javascript" src="{% static 'js/motorcycle-state-city.js' %}"></script>    
    <script type="text/javascript" src="{% static 'js/form-new-user.js' %}"></script>    
{% endblock %}
{% endspaceless %}
