{% extends "account_layout/base.html" %}
{% spaceless %}
{% load static %}
{% block head %}
    {{ block.super }}
    <style type="text/css">
        body { padding-top: 80px; }
    </style>
    <link rel="stylesheet" href="{% static 'vendor/jquery-ui-1.13.2.custom/jquery-ui.min.css' %}">
{% endblock %}
{% block title %} Senha e segurança {% endblock %}
{% block body %}
   {{ block.super }}    
   <section>
       <div class="container">     
            <div class="row">               
                  <div class="col-3 d-flex justify-content-center">
                      <a href="{% url 'account:home' %}">
                         <img src="{% static 'img/motando_logo-402x150.png' %}" class="img-fluid" alt="Motando" 
                              style="width: 220px;">
                      </a>
                  </div>         
                  <div class="col-9 d-flex justify-content-center">                                
                     {% include "messages.html" %}      
                 </div>               
            </div>
            <div class="row">
               <div class="col-3">
                    {% include "account_layout/left_menu.html" with user_profile=user_profile %}  
               </div> 
               <div class="col-9">
                     <br>
                     <form id="id_form" autocomplete="off" method="post" action="{% url 'account:password_security' %}">
                        {% csrf_token %}       
                        <div class="shadow rounded bg-white border p-3" style="min-height: 700px;">
                            <div class="row">
                                <div class="col">
                                    <h2 class="h4 fw-bold"> Senha e Segurança </h2>                                 
                                </div>
                            </div>    
                            <div class="row pt-2 p-2">
                                <div class="col-4">   
                                    <label for="{{ form.current_password.id }}" class="form-label my-text-purple">{{ form.current_password.label }}</label>
                                    {{ form.current_password }}
                                    {% for current_password_error in form.current_password.errors %}
                                        <div class="text-danger pt-1"> &nbsp;&bull; {{ current_password_error }} </div>
                                    {% endfor %}                                   
                                    <div class="invalid-feedback">
                                        É necessário informar uma senha válida.
                                    </div>   
                                </div>     
                                <div class="col-4">   
                                    <label for="{{ form.new_password.id }}" class="form-label my-text-purple">{{ form.new_password.label }}</label>
                                    {{ form.new_password }}
                                    {% for new_password_error in form.new_password.errors %}
                                        <div class="text-danger pt-1"> &nbsp;&bull; {{ new_password_error }} </div>
                                    {% endfor %}                                   
                                    <div class="invalid-feedback">
                                        É necessário informar uma senha válida.
                                    </div>   
                                </div>      
                                <div class="col-4">   
                                    <label for="{{ form.new_password_confirm.id }}" class="form-label my-text-purple">{{ form.new_password_confirm.label }}</label>
                                    {{ form.new_password_confirm }}
                                    {% for new_password_confirm_error in form.new_password_confirm.errors %}
                                        <div class="text-danger pt-1"> &nbsp;&bull; {{ new_password_confirm_error }} </div>
                                    {% endfor %}                                   
                                    <div class="invalid-feedback">
                                        É necessário informar uma senha válida.
                                    </div>   
                                </div>                                    
                            </div>
                            <div class="row pt-4">
                                <div class="col-3">
                                    <div class="d-grid gap-2 mx-auto">                                     
                                        <button type="submit" class="btn btn-success fw-bold btn-lg p-2">
                                            Alterar Senha
                                        </button>
                                    </div>          
                                </div>                            
                            </div>                      
                        </div>
                     </form>
               </div> <!-- right panel -->                
            </div>
       </div>
   </section>
   <br><br> 
{% endblock %}
{% block body_scripts %}             
{% endblock %}
{% endspaceless %}