{% extends "default_layout/base.html" %}
{% spaceless %} 
{% block title %} Todos os Anúncios {% endblock %}
{% load static %}   
{% block head %}
   {{ block.super }}      
{% endblock %}
{% block body %}   
   {{ block.super }}
   {% load humanize %}
    <section>
        <div class="container">            
            <div class="row">
                    <div class="col-3 d-flex justify-content-start">
                        <a href="{% url 'home:main_page' %}">
                            <img src="{% static 'img/motando_logo-402x150.png' %}" class="img-fluid" alt="Motando">
                        </a>
                    </div>         
                    <div class="col-9 d-flex justify-content-end">
                        <img src="{% static 'img/banner-2.jpg' %}" class="img-fluid float-end" alt="Banner 2">
                    </div>
            </div>
            <div class="row">
                    <div class="col-12 d-flex pt-2 p-2">
                        <nav style="--bs-breadcrumb-divider: '>'; background-color: #F7F7F7; border: 0;" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'home:main_page' %}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Todos os Anúncios</li>
                            </ol>
                        </nav>              
                    </div>
            </div>                    
        </div>
    </section> 
    <section>
        <div class="container">           
                <div class="row">
                    <div class="col-4">      
                        <div class="row">
                            <div class="col">                                                                 
                                    <div class="card border-light shadow position-static">
                                        <div class="card-header bg-secondary" id="id_card_moto_props">
                                            <h5 class="h5 fw-bold mb-0 text-white">
                                                Moto
                                                <button class="btn bg-secondary text-decoration-none" data-toggle="collapse" 
                                                        data-target="#id_data_target_moto_props" 
                                                        aria-expanded="true" aria-controls="id_data_target_moto_props">
                                                    <i class="fas fa-caret-down text-white"></i>
                                                </button>
                                            </h5>
                                        </div>  
                                        <div class="row p-2">
                                            <div class="col">
                                                    <label for="id_brand" class="form-label">Marca</label>
                                                    <div class="input-group">                                                                 
                                                        <select name="brand" class="form-select" id="id_brand">
                                                            <option value="" id="id_option_motorcycle_brand_empty" selected="selected">Todas as Marcas</option>
                                                        </select>                                               
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="row p-2">
                                            <div class="col">
                                                    <label for="id_model" class="form-label">Modelo</label>
                                                    <div class="input-group">                                                                 
                                                        <select name="model" class="form-select" id="id_model">                                                            
                                                            <option value="" id="id_option_motorcycle_brand_model_empty" selected="selected"> Selecione o Modelo </option>
                                                        </select>                                               
                                                    </div>
                                            </div>
                                        </div>                                      
                                        <div class="row">
                                            <div class="col">
                                                <br>
                                            </div>
                                        </div>
                                    </div>                                 
                            </div> 
                        </div> <!-- row: Moto -->         
                        <div class="row pt-4">
                            <div class="col">                                                                 
                                <div class="card border-light shadow position-static">
                                    <div class="card-header bg-secondary" id="id_card_localizacao_props">
                                        <h5 class="h5 fw-bold mb-0 text-white">
                                            Localização
                                            <button class="btn bg-secondary text-decoration-none" data-toggle="collapse" 
                                                    data-target="#id_data_target_localizacao_props" 
                                                    aria-expanded="true" aria-controls="id_data_target_localizacao_props">
                                                <i class="fas fa-caret-down text-white"></i>
                                            </button>
                                        </h5>
                                    </div>    
                                    <div class="row p-2">
                                        <div class="col">
                                            <label for="id_brazil_state" class="form-label">Estado</label>
                                              <div class="input-group">                                                                 
                                                    <select name="brazil_state" class="form-select" 
                                                            id="id_brazil_state" selected="selected">
                                                        <option value="" id="id_option_brazil_state_empty">Selecione a Estado</option>
                                                    </select>                                               
                                              </div>
                                        </div>
                                    </div>
                                    <div class="row p-2">
                                        <div class="col">
                                            <label for="id_brazil_state_city" class="form-label">Cidade</label>
                                            <div class="input-group">                                                                 
                                                <select name="brazil_state_city" class="form-select" id="id_brazil_state_city">
                                                    <option value="" 
                                                            id="id_option_brazil_state_city_empty" 
                                                            selected="selected">Selecione a Cidade
                                                    </option>
                                                </select>                                               
                                            </div>
                                        </div>
                                    </div>                                   
                                    <div class="row">
                                        <div class="col">
                                            <br>
                                        </div>
                                    </div>
                                </div>                                 
                            </div> 
                        </div>                        
                        <div class="row pt-4">
                            <div class="col">                                                                 
                                <div class="card border-light shadow position-static">
                                    <div class="card-header bg-secondary" id="id_card_detalhes_props">
                                        <h5 class="h5 fw-bold mb-0 text-white">
                                            Detalhes
                                            <button class="btn bg-secondary text-decoration-none" data-toggle="collapse" 
                                                    data-target="#id_data_target_detalhes_props" 
                                                    aria-expanded="true" aria-controls="id_data_target_detalhes_props">
                                                <i class="fas fa-caret-down text-white"></i>
                                            </button>
                                        </h5>
                                    </div>         
                                    <div class="row p-2">
                                        <div class="col">
                                                <label for="id_motorcycle_color" class="form-label">Cor:</label>
                                                <div class="input-group">    
                                                    <select name="motorcycle_color" class="form-select" id="id_motorcycle_color">
                                                       <option value="" 
                                                               id="id_option_brazil_state_city_empty"
                                                               selected="selected">Selecione a Cor
                                                        </option>                                                                                                          
                                                    {% for color in motorcycle_colors %}        
                                                           {% if color.0 %}                                          
                                                              <option value="{{ color.0 }}">{{ color.1 }}</option>
                                                           {% endif %}
                                                    {% endfor %}                                                    
                                                    </select>                                               
                                                </div>
                                        </div>
                                    </div>                                   
                                    <div class="row p-2">                                        
                                        <div class="col">
                                            <label for="id_brake_system" class="form-label">Disco de freio:</label>
                                            <div class="input-group">                                                                 
                                                <select name="brake_system" class="form-select" id="id_brake_system">                                                            
                                                    <option value="" id="id_option_motorcycle_brake_system" 
                                                            selected="selected">
                                                        Selecione os Freios
                                                    </option>
                                                    {% for brake in motorcycle_brake_system %}        
                                                           {% if brake.0 %}                                          
                                                              <option value="{{ brake.0 }}">{{ brake.1 }}</option>
                                                           {% endif %}
                                                    {% endfor %}           
                                                </select>                                               
                                            </div>
                                        </div>
                                    </div>               
                                    <div class="row p-2">                                        
                                        <div class="col">
                                            <label for="id_ignition_system" class="form-label">Tipo de partida:</label>
                                            <div class="input-group">                                                                 
                                                <select name="ignition_system" class="form-select" id="id_ignition_system">                                                            
                                                    <option value="" id="id_option_motorcycle_ignition_system" 
                                                            selected="selected">
                                                        Selecione o tipo da partida
                                                    </option>
                                                    {% for ignition_system in motorcycle_ignition_system %}        
                                                           {% if ignition_system.0 %}                                          
                                                              <option value="{{ ignition_system.0 }}">{{ ignition_system.1 }}</option>
                                                           {% endif %}
                                                    {% endfor %}           
                                                </select>                                               
                                            </div>
                                        </div>
                                    </div>                                                                                                          
                                    <div class="row">
                                        <div class="col">
                                            <br>
                                        </div>
                                    </div>
                                </div>                                 
                            </div> 
                        </div> <!-- row: Detalhes -->
                        <div class="row pt-4">
                            <div class="col">                                                                 
                                <div class="card border-light shadow position-static">
                                    <div class="card-header bg-secondary" id="id_card_outros_detalhes_props">
                                        <h5 class="h5 fw-bold mb-0 text-white">
                                            Outros Detalhes
                                            <button class="btn bg-secondary text-decoration-none" data-toggle="collapse" data-target="#id_card_outros_detalhes_props" 
                                                    aria-expanded="true" aria-controls="id_card_outros_detalhes_props">
                                                <i class="fas fa-caret-down text-white"></i>
                                            </button>
                                        </h5>
                                    </div>    
                                    <div class="row p-2">                                        
                                        <div class="col pt-3">                                                     
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="id_is_new">
                                                <label class="form-check-label" for="id_is_new">
                                                    Zero KM
                                                </label>
                                            </div>                                                                          
                                        </div>                                        
                                    </div>       
                                    <div class="row p-2">                                        
                                        <div class="col">                                                     
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="id_doc_ok">
                                                <label class="form-check-label" for="id_doc_ok">
                                                    Documentação em dia
                                                </label>
                                            </div>                                                                          
                                        </div>                                        
                                    </div>       
                                    <div class="row p-2">                                        
                                        <div class="col">                                                     
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="id_accept_exchange">
                                                <label class="form-check-label" for="id_accept_exchange">
                                                    Aceita Troca?
                                                </label>
                                            </div>                                                                          
                                        </div>                                        
                                    </div>      
                                    <div class="row p-2">                                        
                                        <div class="col">                                                     
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="id_accept_new_offer">
                                                <label class="form-check-label" for="id_accept_new_offer">
                                                    Aceita Contra Oferta?
                                                </label>
                                            </div>                                                                          
                                        </div>                                        
                                    </div>                                                                             
                                    <div class="row">
                                        <div class="col">
                                            <br>
                                        </div>
                                    </div>   
                                </div>                                 
                            </div> 
                        </div> <!-- row: Outros Detalhes -->
                    </div> <!-- col-4 -->                    
                    <div class="col-8">
                        <h1 class="h3 text-uppercase fw-bold my-text-purple"> Motos Novas e Usadas </h1>
                        <h2 class="h5 my-text-purple"> {{ total_published }} anúncio(s) encontrado(s) </h2>
                        <hr>
                        <form class="form-inline pb-3">
                            <label class="mr-sm-2" for="inlineFormCustomSelect">Ordenar anúncios: &nbsp; </label>
                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                <option selected>Mais relevantes</option>
                                <option value="1">Mais recentes</option>
                                <option value="2">Menor preço</option>
                                <option value="3">Maior preço</option>
                                <option value="3">Mais antigas</option>
                                <option value="3">Mais novas</option>
                                <option value="3">Menor quilometragem</option>
                                <option value="3">Maior quilometragem</option>
                            </select>                 
                        </form>        
                        {% if classifiedad_page|length > 0 %}
                                {% for classifiedad in classifiedad_page %}                                      
                                        <a href="{% url 'classifiedad:detail' brand=classifiedad.model.brand.brand|slugify|lower model=classifiedad.model.model|slugify|lower model_year=classifiedad.model_year classifiedad_id=classifiedad.id %}" 
                                           class="text-decoration-none text-dark" target="_blank">                                      
                                            <div class="card shadow">
                                                <div class="row no-gutters">
                                                    <div class="col-auto">
                                                        <img src="{{ classifiedad.images.first.url }}" class="img-fluid rounded" 
                                                             style="max-width: 18rem;" alt="{{ classifiedad.model.brand.brand }} - {{ classifiedad.model.model }}">
                                                    </div>
                                                    <div class="col">
                                                        <div class="card-block">
                                                            <h4 class="card-title pt-3">{{ classifiedad.model.brand.brand }} - {{ classifiedad.model.model }}</h4>
                                                            <h5 class="h6 text-uppercase">{{ classifiedad.sales_phrase }}</h5>
                                                            <hr class="p-1" style="width: 98%;">                                     
                                                            {% comment %}
                                                                <p class="card-text small">                                                     
                                                                    <img src="" class="img-fluid rounded float-end p-4" alt="Saga Triumph">
                                                                        <span class="fw-bold"> Saga Triumph </span> | Goiânia - GO <br>
                                                                        <span class="text-capitalize"> {{ classifiedad.type|title }} </span> | <span class="fw-bold text-info"> Nova </span>                                                    
                                                                </p>         
                                                            {% endcomment %}                                                                   
                                                            <p class="h5 pt-2">                                                    
                                                                {% if classifiedad.accept_exchange %}
                                                                    <i class="fas fa-exchange-alt text-primary"></i>
                                                                    <span class="text-primary"> Aceita Troca </span>
                                                                {% else %}
                                                                    <i class="fas fa-exchange-alt text-secondary"></i>
                                                                    <span class="text-secondary"> Não Aceita Troca </span>
                                                                {% endif %}
                                                            </p>                                                                   
                                                            <p class="h3 fw-bold text-success"> R$ {{ classifiedad.price|intcomma }} </p>                                                                   
                                                            <p class="h6 pt-2 pb-3"> 
                                                                <i class="far fa-calendar-alt"></i> {{ classifiedad.fabrication_year }}/{{ classifiedad.model_year }}
                                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                                <i class="fas fa-fill-drip"></i> <span class="text-capitalize"> {{ classifiedad.color|title }} </span>
                                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                                <i class="fas fa-tachometer-alt"></i> {{ classifiedad.mileage|intcomma }} KM
                                                            </p>                                                                   
                                                        </div>
                                                    </div>
                                                </div>                                
                                            </div>
                                        </a> 
                                        <br>                                   
                                {% endfor %}       
                                {% if classifiedad_page.has_other_pages %}  
                                    <br><br>
                                    <div class="position-relative">
                                        <div class="position-absolute top-50 start-50 translate-middle">
                                                <nav aria-label="Anúncios Navegação" style="background-color: #F7F7F7; border-bottom: 0px;" class="navbar-light bg-light">
                                                        <ul class="pagination">                                            
                                                                {% if classifiedad_page.has_previous %}
                                                                    <li class="page-item">
                                                                            <a class="page-link" href="?p={{ classifiedad_page.previous_page_number }}">Anterior</a>
                                                                    </li>
                                                                {% endif %}                                                
                                                                {% for page_number in classifiedad_page.paginator.page_range %}
                                                                    {% if classifiedad_page.number == page_number %}
                                                                            <li class="page-item active" aria-current="page">
                                                                                <span class="page-link"> {{ page_number }} </span>
                                                                            </li>                                                        
                                                                    {% else %}
                                                                            <li class="page-item">
                                                                                <a class="page-link" href="?p={{ page_number }}"> {{ page_number }} </a>
                                                                            </li>
                                                                    {% endif %}
                                                                {% endfor %}                                                
                                                                {% if classifiedad_page.has_next %}
                                                                    <li class="page-item">
                                                                            <a class="page-link" href="?p={{ classifiedad_page.next_page_number }}">Próximo</a>
                                                                    </li>
                                                                {% endif %}
                                                        </ul>
                                                </nav>  
                                        </div>     
                                    </div>                                                
                                {% endif %}     
                        {% else %}
                            <h2 class="text-dark text-center pt-4 fst-italic">Por enquanto... Nenhum anúncio foi cadastrado!</h2>
                        {% endif %} 
                    </div>
                </div>              
        </div>
    </section>
    <br><br><br>   
{% endblock %}
{% block body_scripts %}   
    <script type="text/javascript" src="{% static 'vendor/jquery.blockUI.min.js' %}"></script> 
    <script type="text/javascript" src="{% static 'js/motorcycle-state-city.js' %}"></script>   
    <script type="text/javascript">
        const API_CLASSIFIEDAD_SEARCH_URL = MOTANDO_URL_PREFIX + "{% url 'api_classifiedad:all' %}";        
    </script>   
    <script type="text/javascript" src="{% static 'js/classifiedad-all.js' %}"></script>    
{% endblock %}
{% endspaceless %} 