{% extends "default_layout/base.html" %}
{% spaceless %} 
{% block title %} Detalhes do Anúncio {% endblock %}
{% load static %}   
{% block head %}
   {{ block.super }}      
{% endblock %}
{% block body %}  
   {{ block.super }}
   {% load humanize %}
    <section>
        <div class="container">            
            <div class="row">
                    <div class="col-md-3 col-sm-3 pb-3 d-flex justify-content-start">
                        <a href="{% url 'home:main_page' %}">
                           <img src="{% static 'img/motando_logo-402x150.png' %}" class="img-fluid" alt="Motando">
                        </a>
                    </div> 
                    <div class="col-md-9 col-sm-9 pb-3 d-flex justify-content-end">
                        <a href="{% url 'home:main_page' %}">
                           <img src="{% static 'img/banner-2.jpg' %}" class="img-fluid float-end" alt="Banner 2">
                        </a>
                    </div>                         
            </div>
            <div class="row">
                    <div class="col-md-12 col-sm-12 d-flex pt-2 p-2">
                        <nav style="--bs-breadcrumb-divider: '>'; background-color: #F7F7F7; border: 0;" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'home:main_page' %}" class="text-decoration-none">Home</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'classifiedad:all' %}" class="text-decoration-none"> Classificados </a></li>                                
                                <li class="breadcrumb-item active" aria-current="page">
                                    <a class="text-decoration-none"
                                       href="{% url 'classifiedad:detail' brand=classifiedad.model.brand.brand|slugify|lower model=classifiedad.model.model|slugify|lower model_year=classifiedad.model_year classifiedad_id=classifiedad.id %}">
                                        {{ classifiedad.model.brand.brand }} - {{ classifiedad.model.model }}
                                    </a>
                                </li>                                
                            </ol>
                        </nav>              
                    </div>
            </div>                    
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8">    
                    <div class="mb-4 pb-3 shadow rounded bg-white border p-3">
                        <div class="row">
                            <div class="col-md col-sm">
                                <h1 class="h4 my-text-purple">
                                    <strong> 
                                       {{ classifiedad.model.brand.brand }} - {{ classifiedad.model.model }} 
                                    </strong>
                                </h1>
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="col-md col-sm">
                                <p class="ms-4">
                                    <i class="far fa-calendar-alt"></i> {{ classifiedad.fabrication_year }}/{{ classifiedad.model_year }}
                                </p>
                            </div>                            
                            <div class="col-md col-sm">
                                <p class="ms-4">
                                    <i class="fas fa-fill-drip"></i> {{ classifiedad.color|title }}
                                </p>
                            </div>    
                            <div class="col-md col-sm">
                                <p class="ms-4">
                                    <i class="fas fa-tachometer-alt"></i> {{ classifiedad.mileage|intcomma }} KM
                                </p>
                            </div>                     
                            <div class="col-md col-sm">
                                <p class="ms-4">
                                    {% if classifiedad.accept_exchange %}
                                        <span class="text-success"><i class="far fa-times-circle"></i> Aceita troca</span> &nbsp;&nbsp;                            
                                    {% else %}
                                        <span class="text-danger"><i class="far fa-times-circle"></i> Não aceita troca</span> &nbsp;&nbsp;                            
                                    {% endif %}
                                </p>
                            </div>                     
                        </div>
                        <div class="row">
                            <div class="col-md col-sm">
                                <div id="id_carousel_classifiedad_images" class="carousel slide classifiedad-details-carousel" data-bs-ride="carousel">
                                    <div class="carousel-inner rounded">
                                        {% for classifiedad_image in classifiedad.images.all %}
                                            {% if forloop.first %}
                                                <div class="carousel-item active">
                                            {% else %}
                                                <div class="carousel-item">
                                            {% endif %}                                    
                                                <img src="{{ classifiedad_image.url }}" class="img-fluid rounded d-block w-100"
                                                     alt="{{ classifiedad.model.brand.brand }} - {{ classifiedad.model.model }} | {{ forloop.counter }}">
                                            </div>
                                        {% endfor %}                                
                                    </div>
                                    <button class="carousel-control-prev" type="button" 
                                            data-bs-target="#id_carousel_classifiedad_images" data-bs-slide="prev">
                                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                      <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" 
                                            data-bs-target="#id_carousel_classifiedad_images" data-bs-slide="next">
                                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                      <span class="visually-hidden">Next</span>
                                    </button>
                                </div> <!-- carousel -->                          
                                <div class="pt-3">
                                    <br><br><br>
                                </div>
                            </div> <!-- col -->
                        </div> <!-- row -->
                    </div>
                </div> <!-- col -->
                <div class="col-md-4 col-sm-4">         
                    <div class="bg-white shadow rounded-bottom">
                        <div class="row">
                            <div class="col-md col-sm">
                               <h2 class="h2 fw-bold rounded-top my-background-purple text-white p-3 text-center"> 
                                   R$ {{ classifiedad.price|intcomma }} 
                               </h2>
                               <p class="fw-bold text-center fs-5"> Entre em contato com o anunciante </p>
                            </div> 
                        </div>
                        <form class="p-2" autocomplete="off">
                            {% csrf_token %} 
                            <div class="row">
                                <div class="col-md col-sm">                                
                                    <div class="form-group text-left ml-2 mr-3">
                                        <label for="{{ form.fullname.auto_id }}" class="form-label">{{ form.fullname.label }}</label>                                        
                                         {% if form.fullname.value|length > 0 %}  
                                             <input type="text" name="fullname" class="form-control" 
                                                    maxlength="500" required="" id="id_fullname" value="{{ form.fullname.value }}" readonly>                                   
                                                                                                                              
                                         {% else %}
                                             {{ form.fullname }}                                                                                 
                                         {% endif %}                                         
                                         <small class="form-text text-muted">Digite o seu nome completo</small>                                                                               
                                    </div>                        
                                </div>    
                            </div>
                            <div class="row pt-3">
                                <div class="col-md col-sm">                                
                                    <div class="form-group text-left ml-2 mr-3">
                                        <label for="{{ form.email.auto_id }}" class="form-label">{{ form.email.label }}</label>
                                        {% if form.email.value|length > 0 %}  
                                            <input type="email" name="email" class="form-control" 
                                                   required="" id="id_email"  value="{{ form.email.value }}" readonly>
                                        {% else %}
                                            {{ form.email }}
                                        {% endif %}                                        
                                        <small class="form-text text-muted">Digite o seu e-mail</small>
                                    </div>                        
                                </div>    
                            </div>         
                            <div class="row pt-3">
                                <div class="col-md col-sm">                                
                                    <div class="form-group text-left ml-2 mr-3">
                                        <label for="{{ form.telephone.auto_id }}" class="form-label">{{ form.telephone.label }}</label>
                                        {% if form.email.value|length > 0 %}  
                                            <input type="text" name="telephone" class="form-control" 
                                                    required="" id="id_telephone" value="{{ form.telephone.value }}" readonly>
                                        {% else %}
                                            {{ form.telephone }}
                                        {% endif %}  
                                        <small class="form-text text-muted">Digite o seu Telefone</small>
                                    </div>                        
                                </div>    
                            </div>
                            <div class="row pt-4">
                                <div class="col-md col-sm"> 
                                    <div class="form-group text-left ml-2 mr-3">
                                        <label for="{{ form.message.auto_id }}" class="form-label">{{ form.message.label }}</label>
                                        {{ form.message }}  
                                      </div>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-md col-sm"> 
                                    <img src="img/recaptcha.JPG" alt="" class="img-fluid">
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-md col-sm"> 
                                    <div class="d-grid gap-2">
                                        <button type="button" id="id_btn_sendmsg" class="btn btn-success btn-lg">Enviar</button>
                                    </div>
                                </div>
                            </div>                                                      
                            <div class="modal" tabindex="-1" id="id_modal">
                                <div class="modal-dialog modal-dialog-centered modal-lg">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="id_modal_title"></h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                      <p id="id_modal_message"></p>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>                                      
                                    </div>
                                  </div>
                                </div>
                            </div>    
                            <div class="row">
                                <div class="col-md col-sm pt-3 pb-2 d-flex justify-content-center">                                 
                                    <a href="#" class="text-decoration-none text-danger"> 
                                        <i class="fas fa-ban text-danger"></i> Denunciar esta oferta 
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div> <!-- col -->
            </div> <!-- row -->
            <br>
            <div class="row">
                <div class="col-md-8 col-sm-8">           
                    <div class="bg-white shadow rounded-bottom">
                        <div class="row">
                            <div class="col-md col-sm">
                                <h3 class="h5 fw-bold rounded-top my-background-purple text-white p-3">
                                     <i class="far fa-file-alt"></i> Descrição do Anuncio
                                </h3>
                                <p class="fw-bold"></p>
                            </div> 
                        </div>                        
                        <div class="row">
                            <div class="col-md col-sm">
                                <div class="mb-3 p-2" style="min-height: 120px">                                   
                                     {{ classifiedad.description|safe }}                                    
                                </div>
                            </div>                              
                        </div>   
                    </div>
                </div> <!-- col -->                
                <div class="col-md-4 col-sm-4">     
                    <div class="d-xl-none d-lg-none d-md-none d-sm-block d-xs-none"><br></div>
                    <div class="bg-white shadow rounded-bottom">                                                
                        <div class="row">
                            <div class="col-md col-sm p-3">                            
                                <img src="{% static 'img/pessoa.png' %}" 
                                    alt="Pessoa" class="img-fluid img-thumbnail float-start me-3" style="max-width: 25%;">                           
                                <h3 class="h5 fw-bold text-left"> {{ classifiedad.user.fullname }} </h3>
                                <p class="small text-left">           
                                    {% if classifiedad.user.user.city %}                         
                                        {{ classifiedad.user.user.city }}
                                    {% endif %}
                                    <br>                                   
                                    Cadastrado desde: {{ classifiedad.user.created|date:"d/F/Y" }}                                     
                                </p>
                            </div>   
                        </div>
                    </div>
                </div> <!-- col -->
            </div> <!-- row -->
            <br>
            <div class="row">
                <div class="col-md-8 col-sm-8">           
                    <div class="bg-white shadow rounded-bottom">
                        <div class="row">
                            <div class="col-md col-sm">
                                <h3 class="h5 fw-bold rounded-top my-background-purple text-white p-3">
                                     <i class="far fa-file-alt"></i> Ficha Técnica
                                </h3>
                                <p class="fw-bold"></p>
                            </div> 
                        </div>
                        <div class="row ml-2 p-2">
                            <div class="col-md col-sm">
                                <div class="mb-3">
                                    <label for="id_moto_marca" class="form-label">Marca</label>
                                    <input type="text" class="form-control my-btn-outline p-0 text-secondary" id="id_moto_marca" 
                                           style="background-color: white; box-shadow: none;" value="{{ classifiedad.model.brand.brand }}" readonly>
                                </div>
                            </div>
                            <div class="col-md col-sm">
                                <div class="mb-3">
                                    <label for="id_moto_familia" class="form-label">Familia</label>
                                    <input type="text" class="form-control my-btn-outline p-0 text-secondary" id="id_moto_familia" 
                                           style="background-color: white; box-shadow: none;" value="{{ classifiedad.model.model }}" readonly>
                                </div>
                            </div>
                            <div class="col-md col-sm">
                                <div class="mb-3">
                                    <label for="id_moto_modelo" class="form-label">Modelo</label>
                                    <input type="text" class="form-control my-btn-outline p-0 text-secondary" id="id_moto_modelo" 
                                           style="background-color: white; box-shadow: none;" value="{{ classifiedad.model.model }}" readonly>
                                </div>
                            </div>                           
                        </div>
                        <div class="row ml-2 p-2">
                            <div class="col-md col-sm">
                                <div class="mb-3">
                                    <label for="id_moto_estilo" class="form-label">Estilo</label>
                                    <input type="text" class="form-control my-btn-outline p-0 text-secondary" id="id_moto_estilo" 
                                           style="background-color: white; box-shadow: none;" 
                                              {% if classifiedad.model.model.type %} 
                                                  value="{{ classifiedad.model.model.type }}" 
                                              {% else %}
                                                  value="Não especificado"
                                              {% endif %}
                                           readonly>
                                </div>
                            </div>
                            <div class="col-md col-sm">
                                <div class="mb-3">
                                    <label for="id_moto_ano_fabricacao" class="form-label">Ano de fabricação</label>
                                    <input type="text" class="form-control my-btn-outline p-0 text-secondary" id="id_moto_ano_fabricacao" 
                                           style="background-color: white; box-shadow: none;" value="{{ classifiedad.model_year }}" readonly>
                                </div>
                            </div>
                            <div class="col-md col-sm">
                                <div class="mb-3">
                                    <label for="id_moto_quilometragem" class="form-label">Quilometragem</label>
                                    <input type="text" class="form-control my-btn-outline p-0 text-secondary" id="id_moto_quilometragem" 
                                           style="background-color: white; box-shadow: none;" value="{{ classifiedad.mileage|intcomma }} Km" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row ml-2 p-2">
                            <div class="col-md col-sm">
                                <div class="mb-3">
                                    <label for="id_moto_cilindradas" class="form-label">Cilindradas</label>
                                    <input type="text" class="form-control my-btn-outline p-0 text-secondary" id="id_moto_cilindradas" 
                                           style="background-color: white; box-shadow: none;" value="" readonly>
                                </div>
                            </div>
                            <div class="col-md col-sm">
                                <div class="mb-3">
                                    <label for="id_moto_potencia" class="form-label">Potência</label>
                                    <input type="text" class="form-control my-btn-outline p-0 text-secondary" id="id_moto_potencia" 
                                           style="background-color: white; box-shadow: none;" value="" readonly>
                                </div>
                            </div>
                            <div class="col-md col-sm">
                                <div class="mb-3">
                                    <label for="id_moto_freios" class="form-label">Freios</label>
                                    <input type="text" class="form-control my-btn-outline p-0 text-secondary" id="id_moto_freios" 
                                           style="background-color: white; box-shadow: none;" 
                                              {% if classifiedad.brake_system %}
                                                  value="{{ classifiedad.brake_system|title }}"
                                              {% else %}
                                                  value="Não especificado"
                                              {% endif %}
                                           readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row ml-2 p-2">
                            <div class="col-md col-sm">
                                <div class="mb-3">
                                    <label for="id_moto_motor" class="form-label">Motor</label>
                                    <input type="text" class="form-control my-btn-outline p-0 text-secondary" id="id_moto_motor" 
                                           style="background-color: white; box-shadow: none;" value="" readonly>
                                </div>
                            </div>
                            <div class="col-md col-sm">
                                <div class="mb-3">
                                    <label for="id_moto_refrigeracao_motor" class="form-label">Refrigeração do motor</label>
                                    <input type="text" class="form-control my-btn-outline p-0 text-secondary" id="id_moto_refrigeracao_motor" 
                                           style="background-color: white; box-shadow: none;" 
                                              {% if classifiedad.refrigeration %}
                                                  value="{{ classifiedad.refrigeration|title }}"
                                              {% else %}
                                                  value="Não especificado"
                                              {% endif %}
                                            readonly>
                                </div>
                            </div>
                            <div class="col-md col-sm">
                                <div class="mb-1">
                                    <label for="id_moto_tipo_partida" class="form-label">Partida</label>
                                    <input readonly type="text" class="form-control my-btn-outline p-0 text-secondary" id="id_moto_tipo_partida" 
                                           style="background-color: white; box-shadow: none;" 
                                              {% if classifiedad.ignition_system %}
                                                 value="{{ classifiedad.ignition_system|title }}">
                                              {% else %}
                                                  value="Não especificado">
                                              {% endif %}                                            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="d-xl-none d-lg-none d-md-none d-sm-block d-xs-none"><br></div>
                    <div class="bg-white shadow rounded p-3">
                        <div class="row">
                            <div class="col-md col-sm text-center">
                                <p class="h5 pb-2">Compartilhe este anúncio</p>                                
                            </div>
                        </div>                        
                        <div class="row">
                            <div class="col-md col-sm text-center">                                
                                <a href="https://api.whatsapp.com/send?text={{ 'Olá. Veja este anúncio:  https://'|urlencode }}{{ request.META.HTTP_HOST }}{{ request.get_full_path }}" 
                                   class="text-decoration-none" data-action="share/whatsapp/share">
                                    <img src="{% static '/img/whatapp-icon.png' %}" alt="Whatsapp" class="img-fluid">
                                </a>
                                &nbsp;&nbsp;&nbsp;
                                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ 'https://'|urlencode }}{{ request.META.HTTP_HOST }}{{ request.get_full_path }}&amp;src=sdkpreparse" 
                                   class="fb-xfbml-parse-ignore" class="text-decoration-none">
                                    <img src="{% static '/img/facebook-icon.png' %}" alt="Facebook" class="img-fluid">
                                </a>
                                &nbsp;&nbsp;&nbsp;
                                <a target="_blank" href="https://twitter.com/share?url={{ 'https://'|urlencode }}{{ request.META.HTTP_HOST }}{{ request.get_full_path }}" 
                                   class="text-decoration-none">
                                    <img src="{% static '/img/twiter-icon.png' %}" alt="Twitter" class="img-fluid">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>  
    <br>
    <br>    
{% endblock %}
{% block body_scripts %}
     <script type="text/javascript" src="{% static 'vendor/owlcarousel/owl.carousel.min.js' %}"></script> 
     <script type="text/javascript" src="{% static 'vendor/jquery.blockUI.min.js' %}"></script> 
     <script type="text/javascript" src="{% static 'vendor/jquery.maskedinput.min.js' %}"></script>
     <script type="text/javascript" src="{% static 'js/classifiedad-chat.js' %}"></script> 
     <script type="text/javascript">        
         $(document).ready(function(){
            $('#{{ form.telephone.auto_id }}').mask('(99) 9999-9999?9').focusout(function (event) {  
                var target, phone, element;  
                
                target = (event.currentTarget) ? event.currentTarget : event.srcElement;                 
                phone = target.value.replace(/\D/g, '');
                
                element = $(target);  
                element.unmask();  

                if(phone.length > 10)
                    element.mask('(99) 99999-999?9');  
                else 
                    element.mask('(99) 9999-9999?9');                    
            });

            $('#id_btn_sendmsg').click(function() { 
                    const USER_FROM_FULLNAME = $('#{{ form.fullname.auto_id }}').val();                      
                    const USER_FROM_EMAIL = $('#{{ form.email.auto_id }}').val();   
                    const USER_FROM_TELEPHONE = $('#{{ form.telephone.auto_id }}').val();   
                    const USER_FROM_MESSAGE = $('#{{ form.message.auto_id }}').val();                      
                    const CLASSIFIEDAD_ID = '{{ classifiedad.id }}';
                    const CHAT_MSG_URL = `${MOTANDO_URL_PREFIX}{% url 'api_chat:public_message' %}`;
                                                            
                    CLASSIFIEDAD_MSG.init([
                        USER_FROM_FULLNAME, 
                        USER_FROM_EMAIL, 
                        USER_FROM_TELEPHONE, 
                        USER_FROM_MESSAGE,                         
                        CLASSIFIEDAD_ID, 
                        CHAT_MSG_URL
                    ]);

                    CLASSIFIEDAD_MSG.sendUserMessage();
            });        
        });
     </script> 
{% endblock %}
{% endspaceless %} 