{% extends "account_layout/base.html" %}
{% spaceless %}
{% load static %}
{% block head %}
    {{ block.super }}
    <style type="text/css">
        body { padding-top: 80px; }
    </style>
{% endblock %}
{% block title %} Chat de Propostas {% endblock %}
{% block body %}
   {{ block.super }}     
   <section>
       <div class="container">     
            <div class="row">               
                  <div class="col-3 d-flex justify-content-center">
                      <a href="{% url 'account:home' %}">
                        <img src="{% static 'img/motando_logo-402x150.png' %}" class="img-fluid" alt="Motando" 
                             style="width: 220px;">
                      </a>
                  </div>         
                  <div class="col-9 d-flex justify-content-center">                                
                     {% include "messages.html" %}      
                 </div>               
            </div>
            <div class="row">
               <div class="col-3">
                    {% include "account_layout/left_menu.html" with user_profile=user_profile %}  
               </div> 
               <div class="col-9">
                  <br>
                  <form id="id_form" autocomplete="off">                     
                     {% csrf_token %}       
                     <div class="shadow rounded bg-white border p-3"  style="height: 688px;">
                         <div class="row">
                           <div class="col">
                                 <h2 class="h4 fw-bold"> Chat de Propostas </h2>  
                                 <p> 
                                    Veja aqui a lista e histórico de suas negociações <b>via CHAT</b>, 
                                    por anúncio publicado, ativo ou arquivado. <br>
                                    Você também pode selecionar o anúncio e enviar uma mensagem. 
                                 </p>                               
                           </div>
                         </div>  
                         <div class="row m-2 pb-4">
                              <div class="col-2 d-flex justify-content-center">
                                  <div class="form-check">
                                      <input class="form-check-input" type="radio" id="id_chat_selling" name="chat_options" value="selling">
                                      <label class="form-check-label" for="id_chat_selling">
                                         Vendendo 
                                      </label>
                                  </div>
                              </div>
                              <div class="col-3 d-flex justify-content-center">
                                  <div class="form-check">
                                      <input class="form-check-input" type="radio" id="id_chat_buying" name="chat_options" value="buying">
                                      <label class="form-check-label" for="id_chat_buying">
                                          Comprando 
                                      </label>
                                  </div>
                              </div>
                              <div class="col-3 d-flex justify-content-center">
                                 <div class="form-check">
                                       <input class="form-check-input" type="radio" id="id_chat_archive" name="chat_options" value="archive">
                                       <label class="form-check-label" for="id_chat_archive">
                                             Arquivado 
                                       </label>
                                 </div>
                              </div>
                         </div>
                         <div class="row d-none" id="id_chat_painel">
                           <div class="col-4">
                               <p class="fw-bold rounded-top my-background-purple text-white p-3 text-center"> Histórico de Conversas </p>  
                               <div style="overflow-y: scroll; overflow-x: hidden; height: 300px;" id="id_chat_history">                                   
                               </div>
                           </div>                            
                           <div class="col-8">
                               <p class="fw-bold rounded-top my-background-purple text-white p-3 text-left text-uppercase" 
                                  id="id_chat_from_fullname"> 
                               </p>  
                               <div style="overflow-y: scroll; overflow-x: hidden; height: 312px;"
                                    id="id_chat_messages">                                  
                               </div>
                               <br>
                               <div class="input-group mb-3">
                                   <input type="text" class="form-control fst-italic" placeholder="Digite uma mensagem" 
                                          aria-label="Digite uma mensagem" aria-describedby="button-addon2">
                                   <button class="btn btn-success" type="button" id="id_button_sendmsg">
                                         &nbsp;&nbsp; Enviar &nbsp;&nbsp;
                                   </button>
                               </div>                               
                           </div>
                       </div>
                     </div>
                  </form>
                  <div class="modal" tabindex="-1" id="id_modal">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="id_modal_title"></h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <p id="id_modal_message"></p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>                                      
                        </div>
                      </div>
                    </div>
                </div> 
               </div> <!-- right panel -->      
            </div>
       </div>
   </section>
   <br><br> 
{% endblock %}
{% block body_scripts %}
   <script type="text/javascript" src="{% static 'vendor/jquery.blockUI.min.js' %}"></script> 
   <script type="text/javascript" src="{% static 'js/classifiedad-chat.js' %}"></script> 
   <script type="text/javascript">        
        const SELLING_PARTICIPANTS_URL = "{% url 'api_chat:selling_participant_list' %}";        
        const BUYING_PARTICIPANTS_URL = "{% url 'api_chat:buying_participant_list' %}";
   </script>   
{% endblock %}
{% endspaceless %}